<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === true">
      <mat-toolbar>Meni</mat-toolbar>
        <mat-nav-list *ngIf = "isNone()">
          <a mat-list-item routerLink="/login">Prijavi se</a>
        </mat-nav-list>
  
        <mat-nav-list *ngIf="isAdmin()">
          <a mat-list-item routerLink="/login">Napravi sertifikat</a>
          <a mat-list-item routerLink="/login">Lista sertifikata</a>
          <a mat-list-item (click)="onLogout()">Odjavi se</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>P I K</span>
      </mat-toolbar>
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>