<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === true">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list *ngIf="isNone()">
        <a mat-list-item routerLink="/login">Login</a>
        <a mat-list-item routerLink="/registration">Registration for user</a>
        <a mat-list-item routerLink="/registrationAdmin">Registration for admin</a>
      </mat-nav-list>

        <mat-nav-list *ngIf="isAdmin()">
          <a mat-list-item routerLink="/admin/add-certificate">Add Certificate</a>
          <a mat-list-item routerLink="/admin/add-selfsigned">Add SelfSigned Certificate</a>
          <a mat-list-item routerLink="/admin/all-certificates">All Certificates</a>
          <a mat-list-item routerLink="/admin/logs">All Logs</a>
          <a mat-list-item (click)="onLogout()">Log out</a>
        </mat-nav-list>
      <mat-nav-list *ngIf="isUser()">
        <a mat-list-item routerLink="/client/all-certificates">All Certificates</a>
        <a mat-list-item (click)="onLogout()">Log out</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>P I K</span>
<!--        <span class="example-spacer"></span>-->
<!--        <span flex></span>-->
<!--        <button  mat-flat-button color="primary" role="button" routerLink="/login">-->
<!--          <mat-icon>login</mat-icon>-->
<!--          Login-->
<!--        </button>-->
<!--        <button mat-flat-button color="primary" role="button" routerLink="/registration">-->
<!--          <mat-icon>registration</mat-icon>-->
<!--          Registration-->
<!--        </button>-->

        <span></span>
      </mat-toolbar>
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
